<app-splash-screen></app-splash-screen>
<app-navbar></app-navbar>
<section id="home">
  <app-description></app-description>
</section>
<div class="line"></div>
<section id="aboutme">
  <app-about-me></app-about-me>
</section>
<div class="line"></div>
<section id="expertise">
  <app-expertise></app-expertise>
</section><div class="line"></div>
<section id="projects">
  <app-projects></app-projects>
</section>
<div class="line"></div>
<section id="contactme">
  <app-contact-me></app-contact-me>
</section>
<div class="line"></div>
<footer>
  <div class="container">
    <a>© 2023 - All rights reserved.</a>
    <br>
    <a>Designed by <span class="span-name">Daniel Patiño</span></a>
  </div>
</footer>