
.container{
    text-align: center;
    padding: 2% 0% 2%;
}
.span-name{
    color: #212F3D;
    font-weight: bold;
    font-style: italic;
}
.line {
    height: 2px;
    background: linear-gradient(90deg, #fff, #ccc, #000, #ccc, #fff);
    background-size: 400% 400%;
    animation: onda 6s ease-in-out infinite;
}

@keyframes onda {
    0% {
        background-position: 0% 50%;
        background-color: white;
    }

    25% {
        background-position: 100% 50%;
        background-color: #c5c5c5;
    }

    50% {
        background-position: 0% 50%;
        background-color: black;
    }

    75% {
        background-position: 100% 50%;
        background-color: #c5c5c5;
    }

    100% {
        background-position: 0% 50%;
        background-color: white;
    }
}

@media (max-width: 768px){
    a{
        font-size: 10px;
    }
}