<!--<app-splash-screen></app-splash-screen>-->
<app-navbar></app-navbar>
<section id="home">
  <app-description></app-description>
</section>
<section id="aboutme">
  <div class="section fade-in" id="section1">
    <app-about-me></app-about-me>
  </div>
</section>
<section id="projects">
  <div class="section slide-in" id="section2">
    <app-projects></app-projects>
  </div>
</section>
<section id="contactme">
  <div class="section fade-in" id="section3">
    <app-contact-me></app-contact-me>
  </div>
</section>
<div class="section fade-in" id="section4">
  <footer>
    <div class="container">
      <p>© 2023 - Todos los derechos reservados.</p>
      <p>Diseñado por Daniel Patiño</p>


    </div>
  </footer>
</div>