<section id="about" class="py-5 bg-light align-items-center" data-aos="fade-right">
  <div class="container text-center">
    <h2 class="aboutme">About Me</h2>

    <div class="row">
      <div class="col-lg-4 col-md-5">
        <div class="subtitle">
          Presentation
        </div>
        <br>
          <p >I am a front-end and back-end developer with more than 8 years of continuous learning and
            over 3
            years of experience in mobile app and web development. When managing a project, I prioritize user
            experience
            and meeting requirements.</p>
      </div>
      <div class="col-lg-4 col-md-5 d-flex justify-content-center align-items-center">

        <img src="../../assets/images/me2.jpg" class="img-fluid img-me">
      </div>
      <div class="col-lg-4 col-md-5">
        <div class="container-subtitle">
          <div class="subtitle">
            Skills
          </div>
          
          <br>Adaptability
          <br>Team player
          <br>Integrity
          <br>Decision making
          <div class="contact-button">
            <a href="https://drive.google.com/file/d/1VVHpWis8AiuAJr_hdzZcuJutFsZZjg62/view?usp=sharing"
              target="https://drive.google.com/file/d/1VVHpWis8AiuAJr_hdzZcuJutFsZZjg62/view?usp=sharing">View My CV</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>