<section id="portfolio">
  <!-- Project Section Start -->
  <section id="project" class="project-area section-padding">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="section-title">
            <h2>Recent Project</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="project-list">
            <ul class="nav" id="project-flters">
              <li class="filter filter-active" data-filter=".all">all</li>
              <li class="filter" data-filter=".branding">branding</li>
              <li class="filter" data-filter=".application">application</li>
              <li class="filter" data-filter=".webdesign">web design</li>
              <li class="filter" data-filter=".photography">photography</li>
            </ul>
          </div>
        </div>
        <div class="project-container">
          <!-- project-item -->
          <div class="col-lg-4 col-md-6 project-grid-item all branding {{images[0].alt}}">
            <a class="popup-img project-item">
              <img
                src="{{images[0].img}}"
                alt="img">
              <div class="project-img-overlay">
                <div class="project-content">
                  <h4>Creative Design</h4>
                  <h6>View Project</h6>
                  <button>asd</button>
                </div>
              </div>
            </a>
          </div>
          <!-- project-item -->
          <div class="col-lg-4 col-md-6 project-grid-item all application photography">
            <a class="popup-img project-item"
              href="https://cutesolution.com/tf/maslin/light/assets/img/projects/work-2.jpg"> <img
                src="https://cutesolution.com/tf/maslin/light/assets/img/projects/work-2.jpg" alt="img">
              <div class="project-img-overlay">
                <div class="project-content">
                  <h4>Creative Design</h4>
                  <h6>View Project</h6>
                  
                </div>
              </div>
            </a>
          </div>
          <!-- project-item -->
          <div class="col-lg-4 col-md-6 project-grid-item all branding webdesign">
            <a class="popup-img project-item " href="assets/img/projects/work-3.jpg"> <img
                src="assets/img/projects/work-3.jpg" alt="img">
              <div class="project-img-overlay">
                <div class="project-content">
                  <h4>Creative Design</h4>
                  <h6>View Project</h6>
                </div>
              </div>
            </a>
          </div>
          <!-- project-item -->
          <div class="col-lg-4 col-md-6 project-grid-item all branding webdesig photographyn">
            <a class="popup-img project-item" href="assets/img/projects/work-4.jpg"> <img
                src="assets/img/projects/work-4.jpg" alt="img">
              <div class="project-img-overlay">
                <div class="project-content">
                  <h4>Creative Design</h4>
                  <h6>View Project</h6>
                </div>
              </div>
            </a>
          </div>
          <!-- project-item -->
          <div class="col-lg-4 col-md-6 project-grid-item all application webdesign photography">
            <a class="popup-img project-item" href="assets/img/projects/work-5.jpg"> <img
                src="assets/img/projects/work-5.jpg" alt="img">
              <div class="project-img-overlay">
                <div class="project-content">
                  <h4>Creative Design</h4>
                  <h6>View Project</h6>
                </div>
              </div>
            </a>
          </div>
          <!-- project-item -->
          <div class="col-lg-4 col-md-6 project-grid-item all branding photography">
            <a class="popup-img project-item" href="assets/img/projects/work-6.jpg"> <img
                src="assets/img/projects/work-6.jpg" alt="img">
              <div class="project-img-overlay">
                <div class="project-content">
                  <h4>Creative Design</h4>
                  <h6>View Project</h6>
                </div>
              </div>
            </a>
          </div>
          <!-- project-item -->
          <div class="col-lg-4 col-md-6 project-grid-item all branding webdesig photographyn">
            <a class="popup-img project-item" href="assets/img/projects/work-7.jpg"> <img
                src="assets/img/projects/work-7.jpg" alt="img">
              <div class="project-img-overlay">
                <div class="project-content">
                  <h4>Creative Design</h4>
                  <h6>View Project</h6>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Project Section End -->
</section>