  <section id="project" class="project-area">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="section-title">
            <h2 class="aboutme">Projects</h2>
            <div class="project-list">
              <ul class="nav" id="project-flters">
                <li class="filter filter-active" data-filter=".all">- All -</li>
                <li (click)="showRepository()">- GitHub -</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="row">
          <div class="col-md-6">
            <h4 type="text" class="text-center">Platform</h4>
            <div class="project-list">
              <ul class="nav" id="project-flters">
                <li class="filter" data-filter=".mobile">- Mobile -</li>
                <li class="filter" data-filter=".web">- Web -</li>
              </ul>
            </div>
          </div>
          <div class="col-md-6">
            <h4 type="text" class="text-center">Software development</h4>
            <div class="project-list">
              <ul class="nav" id="project-flters">
                <li class="filter" data-filter=".front">- Front-End -</li>
                <li class="filter" data-filter=".back">- Back-End -</li>
              </ul>
            </div>
          </div>

        </div>
        <div class="project-container">
          <a *ngFor="let project of projects.documents">
            <div class="col-lg-3 col-md-8 project-grid-item all {{project.fields['type'].stringValue}}">
              <a class="popup-img project-item" data-aos="flip-right">
                <img [src]="project.fields['img'].stringValue" alt="Image of {{project.fields['img'].stringValue}}">
                <div class="project-img-overlay">
                  <div class="project-content">
                    <h6>{{project.fields['title'].stringValue}}</h6>
                    <h4>{{project.fields['description'].stringValue}}</h4>
                    <p class="codes">{{project.fields['code'].stringValue}}</p>
                    <a [href]="project.fields['link'].stringValue" class="button" [target]="project.fields['link'].stringValue">Ver</a>
                  </div>
                </div>
              </a>
            </div>
          </a>
        </div>
      </div>
    </div>
    <app-lines-style></app-lines-style>
  </section>
 