#project {
    position: relative;
    justify-content: center;
    place-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 20px;
    padding-bottom: 40px;
}

h2 {
    padding: 30px;
}

#project .project-list {
    text-align: center;
}

#project .project-list .nav {
    display: inline-block;
    margin: 0;
    position: relative;
}

#project .project-list .nav li {
    position: relative;
    float: left;
    font-size: 14px;
    line-height: 15px;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    display: inline-block;
    margin: 0 15px 20px;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: rgba(128, 128, 128, 0.1);
    color: #333;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
    border: 2px solid #297fb92c;
}

#project .project-list .nav li:after {
    color: #000000;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 10px;
}

#project .project-list .nav li:before {
    color: #000000;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 10px;
}

#project .project-list .nav li:hover,
#project .project-list .nav li.filter-active {
    color: #ffffff;
    background: #2980B9;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}

#project .project-container {
    padding-left: 15%;
    display: inline-block;
    width: 100%;
    text-align: center;

}

@media (max-width: 768px) {
    #project .project-container {
        padding-left: 0%;
        display: inline-block;
        width: 100%;
        text-align: center;
    }
}



.project-area .project-grid-item {
    overflow: hidden;
}

.project-grid-item img {
    max-width: 75%;
    max-height: 70%;
}

.project-item {

    position: relative;
    display: block;
    overflow: hidden;
    margin-top: 30px;
}

.project-item .project-img-overlay {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    -webkit-transition: all .4s;
    transition: all .4s;
    border-radius: 10%;
    background-color: rgba(128, 128, 128, 0.1);
    border: 3px inset rgba(255, 255, 255, 0.5);
}

.project-item .project-img-overlay:before {
    left: 0;
    top: 0;
}

.project-item .project-img-overlay:after {
    right: 0;
    bottom: 0;
}

.project-item .project-img-overlay:before,
.project-item .project-img-overlay:after {
    content: '';
    position: absolute;
    width: 0;
    height: 50%;
    background: rgba(255, 255, 255, 0.7);
    -webkit-transition: all .4s;
    transition: all .4s;
}

.project-item .project-img-overlay:hover:before,
.project-item .project-img-overlay:hover:after {
    width: 100%;
}

.project-item .project-img-overlay .project-content {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    z-index: 2;
    -webkit-transition: .5s;
    transition: .5s;
}

.project-item .project-img-overlay:hover .project-content h4,
.project-item .project-img-overlay:hover .project-content h6,
.project-item .project-img-overlay:hover .project-content .button,
.project-item .project-img-overlay:hover .project-content .codes {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}

.project-item .project-img-overlay .project-content h4,
.project-item .project-img-overlay .project-content .button {
    color: #333;
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: 700;
    position: relative;
    margin-bottom: 10px;
    text-transform: capitalize;
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
    opacity: 0;
    z-index: 7;
    -webkit-transition: all .6s;
    transition: all .6s;
}

.project-item .project-img-overlay .project-content .codes {
    color: #ff0303af;
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: 700;
    position: relative;
    margin-bottom: 10px;
    text-transform: capitalize;
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
    opacity: 0;
    z-index: 7;
    -webkit-transition: all .6s;
    transition: all .6s;
}

.button {
    margin-top: 2rem;
    padding: 0.2rem 1.5rem;
    border: 2px solid #0099ff;
    border-radius: 2rem;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    backdrop-filter: blur(50px);
}

.button:hover {
    background-color: #0099ff;
    color: black;

}


.project-item .project-img-overlay .project-content h6 {
    color: #0099ff;
    margin-top: 5px;
    font-size: 15px;
    letter-spacing: 0.9px;
    position: relative;
    position: relative;
    font-weight: 700;
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
    opacity: 0;
    z-index: 7;
    -webkit-transition: all .6s;
    transition: all .6s;
}

.aboutme {
    text-align: center;
    padding-top: 30px;
    font-size: 2.5rem;
    font-weight: bold;
}