<section id="portfolio">
    <div class="container">
      <h2 class="text-center mb-5">Software Developer</h2>
  
      <div class="row">
        <div class="col-md-4 mb-5">
          <div class="card h-100">
            <div class="card-body">
              <h4 class="card-title">Proyecto 1</h4>
              <p class="card-text">Descripción del proyecto 1.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-5">
          <div class="card h-100">
            <div class="card-body">
              <h4 class="card-title">Proyecto 2</h4>
              <p class="card-text">Descripción del proyecto 2.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-5">
          <div class="card h-100">
            <div class="card-body">
              <h4 class="card-title">Proyecto 3</h4>
              <p class="card-text">Descripción del proyecto 3.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  </section>