.contact-container {
    background: url("../../assets/images/contactme.jpg");
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@media screen and (max-width: 767px) {
    .contact-container {
        background-size: contain;
    }
}

.contact-overlay {
    background-color: #212f3d;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}


.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.contact-form h2 {
    color: white;
    margin-bottom: 2rem;
}

.contact-form label {
    color: white;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 2rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    background-color: #2C3E50;
    color: white;
    width: 100%;
}

.contact-form button {
    margin-top: 2rem;
    padding: 1rem 2rem;
    border: 2px solid white;
    border-radius: 2rem;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.contact-form button:hover {
    background-color: white;
    color: black;
}

.social-links {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}



.social-links i {
    font-size: 1.2rem;
}

.social-buttons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
}

.social-button {
    width: 100px;
    height: 100px;
    position: relative;
    margin: 10px;
}

.social-links {
    padding: 1.5rem;
}

.social-links a {
    margin: 0.5rem;
    font-size: 1.2rem;
}

.social-buttons-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    /* dos filas con igual fracción de altura */
    grid-template-columns: repeat(2, 1fr);
    /* dos columnas con igual fracción de ancho */
    gap: 10px;
    /* espacio entre los botones */
}

/* Media queries */

@media only screen and (max-width: 768px) {
    .contact-container {
        flex-direction: column;
    }

    .contact-form {
        flex-basis: 100%;
        padding: 1.5rem;
    }




    .button {
        margin: 10px 0;
    }
}

.error-message {
    color: red;
    font-size: 0.8rem;
    margin-top: 0.2rem;
}

/*redes sociales*/


.button {
    backdrop-filter: blur(5px);
    border: 2px solid white;
    display: inline-block;
    margin: 0 10px;
    padding: 10px 20px;
    color: #fff;
    border-radius: 30px;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.button:hover {
    transform: translateY(-10px);
}

.linkedin {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
}

.facebook {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
}

.twitter {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
}

.instagram {

    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
}

.linkedin:hover {
    background-color: #3b5998;
    color: white;
}

.facebook:hover {
    background-color: #0077B5;
    color: white;
}

.twitter:hover {
    background-color: #1da1f2;
    color: white;
}

.instagram:hover {
    background-color: #e1306c;
    color: white;
}

.button i {
    font-size: 20px;
    margin-right: 10px;
}

.button span {
    display: inline-block;
    margin-right: 5px;
    font-weight: bold;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    z-index: 1;
    clip-path: ellipse(100% 100% at 50% 50%);
    /* para recortar el contenido en forma de óvalo */
    backdrop-filter: blur(5px);
    /* para aplicar un efecto de desenfoque al contenido */
}